# # Copy from .env.local on the Vercel dashboard
# # https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
# POSTGRES_URL=
# POSTGRES_PRISMA_URL=
# POSTGRES_URL_NON_POOLING=
# POSTGRES_USER=
# POSTGRES_HOST=
# POSTGRES_PASSWORD=
# POSTGRES_DATABASE=

# local postgres env to create
POSTGRES_URL=
POSTGRES_HOST=           # Postgres ip address[s] or domain name[s]
POSTGRES_PORT=                  # Postgres server port[s]
POSTGRES_DATABASE=        # Name of database to connect to
POSTGRES_USER=            # Username of database user
POSTGRES_PASSWORD=      # Password of database user

# npm run seed

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=